*.pyc
.ipynb_checkpoints/

doc/**/*.aux
doc/**/*.blg
doc/**/*.bbl
doc/**/*.log
doc/**/*.synctex.gz
doc/**/*.toc
doc/**/*.fdb_latexmk
doc/**/*.fls
doc/*.pdf
doc/analytical_soln/*.pdf

examples/basin/mf6_ss_drn
examples/basin/mf6_ss_sfr
examples/basin/mf6_ss_swf
examples/basin/mf6_swf

examples/pinder_sauer/mf6_*

examples/vcatch/mf6_*
examples/vcatchgwf/mf6_*

examples/axisymmetric/mf6_*
examples/axisymmetric/swr-model/*.stg
examples/axisymmetric/swr-model/*.lst

examples/radialvoronoi/mf6_*
examples/radialstructured/mf6_*

examples/one_d/mf6_*

examples/drb/*

examples/pinder_sauer/mf6_*

examples/abdul/sorab
examples/abdul/mf6_*
