*.pyc
.ipynb_checkpoints/

doc/swf.aux
doc/swf.blg
doc/swf.bbl
doc/swf.log
doc/swf.pdf
doc/swf.synctex.gz
doc/swf.toc
doc/swf.fdb_latexmk

examples/basin/mf6_ss_drn
examples/basin/mf6_ss_sfr
examples/basin/mf6_ss_swf
examples/basin/mf6_swf

examples/vcatch/mf6_*